<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card" style="margin-top: 3rem;">
        <div class="card-header">
          Editar Tarea
        </div>
        <div class="card-body">
          <form [formGroup]="formTask" (ngSubmit)="updateTask()">
            <div class="mb-3">
              <label for="" class="form-label">Titulo</label>
              <input required type="text" class="form-control" name="" id="" aria-describedby="helpId"
                placeholder="Escriba un Titulo" formControlName="title">
            </div>
            <div class="alert alert-danger mt-2 "
              *ngIf="formTask.get('title')?.invalid && formTask.get('title')?.touched">
              El título es requerido.
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Descripción</label>
              <textarea required class="form-control" formControlName="description" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
            <div class="alert alert-danger mt-2 "
              *ngIf="formTask.get('description')?.invalid && formTask.get('description')?.touched">
              La descripción es requerida.
            </div>
            <div class="form-group row">
              <label for="due-date" class="col-sm-2 c col-form-label">Fecha de Vencimiento</label>
              <div class="col-sm-9">
                <input required type="date" id="due-date" name="due-date" class="form-control"
                  style="width: 150px; height: 30px; margin-top: 1rem;" formControlName="date">
              </div>
            </div>
            <div class="d-flex mt-auto justify-content-end">
              <button type="submit" class="btn btn-success btn me-3">Editar</button>
              <button type="button" routerLink="/sort-tasks" class="btn btn-primary btn">Cancelar</button>
            </div>
            <div class="alert alert-danger mt-2 "
              *ngIf="formTask.get('date')?.invalid && formTask.get('date')?.touched">
              La fecha de vencimiento es requerida.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>